In [1]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [2]:

# Load the dataset
df = pd.read_csv('solar_dataset.csv')

# Display the first few rows of the dataset
df.head()

   result1  result2  result3  result
0        3        2        2       2
1        3        2        0       2
2        3        1        3       2
3        3        3        0       2
4        3        3        3       3

In [3]:

X = df.iloc[:, :3]  # Assuming the first 3 columns are the gas values
y = df.iloc[:, 3:]  # Assuming the last 3 columns are the target variables

y = y.round().astype(int)
# y.head()
y.head()

   result
0       2
1       2
2       2
3       2
4       3

In [4]:
# Split the dataset into training and testing sets (85% training, 15% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)

# Initialize the SVM model
svm_model = SVC()

# Train the SVM model
svm_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = svm_model.predict(X_test)

# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)

# Display the accuracy
print(f'Model Accuracy: {accuracy * 100:.2f}%')

C:\ProgramData\anaconda3\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Model Accuracy: 69.12%

In [6]:
import pickle
model_filename = 'solarSVM.pkl'
with open(model_filename, 'wb') as file:
    pickle.dump(svm_model, file)

print(f'Model saved to {model_filename}')

Model saved to solarSVM.pkl